.header-menu {
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  column-gap: var(--spacing--60);
}

.header-menu-item {
  color: var(--color--white);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size--medium);
  text-wrap: nowrap;
}

.header-menu-item > * {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
}

@media (max-width: 768px) {
  .header-menu {
    display: none;
  } 
}