.App {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.App-header {
  z-index: 997;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 6vh;
  width: 100vw;
  color: var(--wp--preset--color--white);
  background-color: var(--st--preset--color--kokona--pink);
  font-size: var(--wp--preset--font-size--medium);
  -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, .1));
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, .1));
}

.header-wrapper {
  padding: 0 var(--wp--preset--spacing--80);
}

.header-inner {
  display: flex;
  flex-direction: row;
}

.header-logo > a {
  color: var(--wp--preset--color--white);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: var(--wp--preset--font-size--large);
  letter-spacing: 2px;
  text-wrap: nowrap;
}

.header-menu {
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  column-gap: var(--wp--preset--spacing--60);
}

.header-menu-item {
  color: var(--wp--preset--color--white);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--wp--preset--font-size--medium);
  text-wrap: nowrap;
}

.header-menu-item > * {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
}

.App-content {
  flex: 1;
  color: var(--wp--preset--color--black);
  background-color: var(--wp--preset--color--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--wp--preset--font-size--medium);
}

.App-footer {
  min-height: 10vh;
  width: 100vw;
  color: var(--wp--preset--color--white);
  background-color: var(--st--preset--color--sizuka--blue);
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}