.App {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-width: 100dvw;
}

.App-header {
  z-index: 557;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 6svh;
  width: 100dvw;
  color: var(--color--white);
  background-color: var(--color--kokona--pink);
  font-size: var(--font-size--medium);
  -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, .1));
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, .1));
}

.header-inner {
  display: flex;
  flex-direction: row;
}

.header-logo > a {
  color: var(--color--white);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: var(--font-size--large);
  letter-spacing: 2px;
  text-wrap: nowrap;
}

.App-content {
  flex: 1;
  color: var(--color--black);
  background-color: var(--color--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size--medium);
}

.content-wrapper {
  flex: 1;
  margin-top: 113.59px;
  padding: var(--spacing--40);
  background-color: var(--color--white);
}

.App-footer {
  z-index: 425;
  min-height: 10vh;
  width: 100dvw;
  color: var(--color--white);
  background-color: var(--color--sizuka--blue);
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* On Mobile (Phones and Tablets) */
@media (width <= 768px) {
  .header-wrapper {
    margin: 0 var(--spacing--40);
  }

  .content-wrapper {
    min-width: max(360px, 100dvw);
  }
}

/* On Desktop */
@media (width > 768px) {
  .header-wrapper {
    margin: 0 var(--spacing--80);
  }

  .content-wrapper {
    min-width: max(var(--mobile--width), 70dvw);
    -webkit-filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .1));
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .1));
  }
}